// Styles
$topbar-bgcolor: #333;
$brand-color: #FF6347;

html {
	height: 100%;
}

body {
  height: 100%;
  font-family: $base-font;
  font-weight: normal;
  background-color: black;
  color: white;
}

.app {
	height: 100%;
}

.root {
	height: 100%;
}
