	/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

span.navbar-brand {
	color: $brand-color !important;
}

.topbar {
  background-color: rgb(51, 51, 51);
}

.main {
  color: white;
}

.root-view {
	height: 100%;
	margin-top: 55px;
}