<div ui-view class="view-slide-in">
	<div class="text-center">
		<h1>Single player</h1><br/>
		<div class="row">
			<div class="col-sm-6">
				<div><a ui-sref=".new-game" class="btn btn-warning" translate="NEW_GAME" style="font-size: x-large;"></a></div>
				<br/>
				<div>Create and customize a new game for single player</div>
			</div>
			<div class="col-sm-6">
				<div><a ui-sref=".load-game" class="btn btn-warning" translate="LOAD_GAME" style="font-size: x-large;"></a></div>
				<br/>
				<div>Load existing game, that you have created or saved</div>
			</div>
		</div>
		<br />
	</div>
</div>
<div class="text-center">
	<a href="#!/" class="btn btn-danger" translate="BACK_MENU"></a>
</div>