<h1 class="text-center">New game</h1>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-6" for="mapName">Map number:</label>
				<div class="col-sm-4" ui-view="selectMap">
				</div>

			</div>
			<div class="form-group">
				<label class="control-label col-sm-6" for="pwd">Bot level:</label>
				<div class="col-sm-4">
			    <div class="btn-group" uib-dropdown is-open="status.isopen2">
			      <button id="single-butto2" type="button" class="btn btn-default" uib-dropdown-toggle>
			        Select bot level<span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-butto2">
			        <li role="menuitem"><a href>Difficult</a></li>
			        <li role="menuitem"><a href>Modeterate</a></li>
			        <li role="menuitem"><a href>Easy</a></li>
			      </ul>
			    </div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-6" for="pwd">Bonuses:</label>
				<div class="col-sm-4">
			    <div class="btn-group" uib-dropdown is-open="status.isopen3">
			      <button id="single-butto22" type="button" class="btn btn-default" uib-dropdown-toggle>
			        Select bonuses<span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-butto2">
			        <li role="menuitem"><a href>All</a></li>
			        <li role="menuitem"><a href>Only weapons</a></li>
			        <li role="menuitem"><a href>None</a></li>
			      </ul>
			    </div>
				</div>
			</div>
			<div class="form-group">
				<div class="text-center">
					<button type="submit" class="btn btn-success">Start game!</button>
				</div>
			</div>
		</form>