<div class="row">
	<div class="col-sm-offset-2 col-sm-8 text-center">
		<div class="row" style="display: flex; flex-direction: row">
			<div class="col-sm-2" style="display: flex; align-items: center; justify-content: center">
				<mute-button></mute-button>
			</div>
			<div class="col-sm-8" style="display: flex; align-items: center; justify-content: center">
				<div>
				<h1 class="start-title">TANKS GAME</h1>
				<h1 class="start-title">2016</h1>
				</div>
			</div>
			<div class="col-sm-2" style="display: flex; align-items: center; justify-content: center">
				<lang-button></lang-button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-2 col-sm-8" style="border: 5px dashed white; padding-bottom: 1em" ng-transclude>
		
	</div>
</div>