@import "../../bower_components/bootstrap-css-only/css/bootstrap";

body {
	background-color: black;
	font-family: 'Press Start 2P';
	color: white;
	text-transform: uppercase!important;
	overflow-x: hidden;
}

.start-title {
	color: tomato;
	font-size: 64px;
}

.title-bar-button {
  font-size: 32px
}

.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  
  opacity:0.5;
  position:relative;
  opacity:0;
  top:-50px;
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:-50px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}

.flex-row {
  display: flex; 
  flex-direction: row;
}

.flex-column-center {
  display: flex; 
  align-items: center; 
  justify-content: center;
}